button {
    background-color: blue;
    color: white;
    height: 30px;
    width: 100px;
}
.botoes {
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    button {
        background-color: red;
    }
}
